@import '~styles/reset.scss';
@import '~styles/theme.scss';

.app {
    width: 380px;
    height:100%;
    // overflow: scroll;
    font-family: "Trebuchet MS";
    overflow-x: hidden;
    overflow-y: scroll;
    .title {
        text-align: center;
    }
}

.big {
    font-size: 14px;
}
