$themes: (
  darkTheme: (
    'text-color': white,
    'bg-color': #424242,
    'li-color':#5588ff,
  ),
  lightTheme: (
    'text-color': black,
    'bg-color': #f5f5f5,
  )
);

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}

// #app {
//   text-align: center;
// }

.content {
//   padding: 32px;
  transition: 1000ms;
//   font-size: 18px;
  @include theme() {
    color: theme-get('text-color');
    background-color: theme-get('bg-color');
    li, a {
        color: theme-get('li-color');
    }
  }
}

// button {
//   margin: 16px;
// }