.app {
  --c1: hsl(0,0,100%);
  --c2: hsl(0,0,75%);
  --c3: hsl(0,0,50%);
  --c4: hsl(0,0,25%);
  --c5: hsl(0,0,0%);
}

.economical {
  --c1: hsl(93, 73%, 29%);
  --c2: hsl(93, 73%, 39%);
  --c3: hsl(93, 73%, 49%);   
  --c4: hsl(93, 73%, 48%);
  --c5: hsl(93, 73%, 69%);
}
.darkTheme {
  --c1:hsl(0, 0%, 10%);
  --c2:hsl(0, 0%, 40%);
  --c3:hsl(0, 0%, 60%);
  --c4:hsl(0, 0%, 80%);
  --c5:hsl(0, 0%, 100%);
}




@keyframes color-rotate {
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(360deg);
  }
}

.suave {
  .navbutton * {
    height: 30px;
    color:var(--c5) !important;
    flex: 1;
    flex-grow: inherit;
}
.active {
    border: 1px solid var(--c1);
    border-bottom: none !important;
}

.inactive {
  border: var(--c4);
  border-bottom:1px solid var(--c1);
  background-color: var(--c3);
}
  .moneyDisplay * {
    display: flex;
    flex-direction: column;
    * {
     padding: 0px 10px;
    }
  }
  a {
    text-decoration: none;
  }
  .body {
    padding: 0px 30px 30px 30px;
  }
  h1, a, h2, h3{
    text-align: center;
  }
  li {
    list-style-type: none;
  }
  button:hover {
    background-color: var(--c3);
  }
  a {
    flex-direction: row;
  }
  a:hover {
    color: #325dc2;
  }
  .navbar{
    li {
      padding: 0px 5px;
      width: 100%;
      overflow: hidden;
      flex: 1;
      flex-shrink: 0;
      width: 100%;
      float: none;
      overflow: hidden;
      flex-grow: inherit;

    }
    align-items:flex-end;
  align-items:flex-end;
  flex-shrink: 0;

    width: 100%;
    transition: 100ms;
    display: flex;
    flex: 1;
  }
}
.hypebuttons {
  button:not(:disabled) {
    background:linear-gradient(45deg, rgb(61, 114, 220), rgb(59, 201, 51))    !important;
    color: rgb(147, 43, 43)  !important;
  }
  button:disabled {
    background:linear-gradient(45deg, rgb(240, 23, 15), rgba(241, 245, 12, 0.857))    !important;
    color: rgb(147, 43, 43)  !important;
  }
  button:hover:not(:disabled) {
    animation: color-rotate 1s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
  }
}
.darkTheme {
  li, a {
    color:#5588ff
  }

}
.content, body, html {
  background-color: var(--c1);
  color:var(--c5);
  input {
    background-color: var(--c2);
  }
  input:checked, .checkbox {
    background-color: var(--c1);
  }
    input:not(:checked), .checkbox {
    background-color: var(--c5);
  }
  button {
    background-color: var(--c2);
    color:var(--c5)
  }
}